body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:750px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:101px;
  top:7px;
  width:100px;
  height:34px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#66CCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:233px;
  top:18px;
  width:57px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:331px;
  top:18px;
  width:57px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:132px;
  top:111px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:301px;
  top:84px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:520px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:520px;
}
#u14 {
  position:absolute;
  left:2px;
  top:252px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:274px;
  top:23px;
  width:253px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#33CCCC;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:340px;
  top:76px;
  width:121px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:318px;
  top:390px;
  width:200px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:318px;
  top:277px;
  width:200px;
  height:35px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:267px;
  top:288px;
  width:33px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:720px;
  top:27px;
  width:51px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:318px;
  top:333px;
  width:200px;
  height:35px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:267px;
  top:344px;
  width:33px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:268px;
  top:230px;
  width:33px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:266px;
  top:163px;
  width:33px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:319px;
  top:139px;
  width:60px;
  height:60px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:389px;
  top:165px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:318px;
  top:220px;
  width:200px;
  height:35px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:534px;
  top:337px;
  width:27px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:570px;
  top:343px;
  width:200px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:534px;
  top:377px;
  width:27px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:570px;
  top:383px;
  width:200px;
  height:13px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:534px;
  top:414px;
  width:27px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:570px;
  top:420px;
  width:200px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:644px;
  top:341px;
  width:200px;
  height:15px;
  color:#FF6600;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:525px;
  top:288px;
  width:197px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u12_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:487px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:487px;
}
#u55 {
  position:absolute;
  left:2px;
  top:236px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:274px;
  top:23px;
  width:253px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#33CCCC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:290px;
  top:76px;
  width:221px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:52px;
  top:130px;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u62 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u60_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u64 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:85px;
  top:82px;
  width:25px;
  height:25px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:89px;
  top:91px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:-8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:3px;
  width:9px;
  height:4px;
}
#u68 {
  position:absolute;
  left:93px;
  top:91px;
  width:15px;
  height:10px;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:4px;
}
#u69 {
  position:absolute;
  left:192px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u70 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:342px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u72 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:482px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u74 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:616px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u76 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:52px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u78 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:192px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u80 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:342px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u82 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:482px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u84 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:616px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u86 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:374px;
  top:430px;
  width:49px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:629px;
  top:420px;
  width:141px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:691px;
  top:27px;
  width:83px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:100px;
  top:249px;
  width:18px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:487px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:487px;
}
#u96 {
  position:absolute;
  left:2px;
  top:236px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:274px;
  top:23px;
  width:253px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#33CCCC;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:290px;
  top:76px;
  width:221px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:52px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u102 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:192px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u104 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:342px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u106 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:482px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u108 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:616px;
  top:130px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u110 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:52px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u112 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:192px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u114 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:342px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u116 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:482px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u118 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:616px;
  top:266px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u120 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:374px;
  top:430px;
  width:49px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:629px;
  top:420px;
  width:141px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:691px;
  top:27px;
  width:83px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:52px;
  top:130px;
}
#u127_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u129 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u127_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u131 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:85px;
  top:82px;
  width:25px;
  height:25px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:89px;
  top:91px;
  width:9px;
  height:10px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:-8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:3px;
  width:9px;
  height:4px;
}
#u135 {
  position:absolute;
  left:93px;
  top:91px;
  width:15px;
  height:10px;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:3px;
  width:15px;
  height:4px;
}
#u136 {
  position:absolute;
  left:100px;
  top:249px;
  width:18px;
  height:30px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:132px;
  top:151px;
  width:91px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:600px;
  top:42px;
  width:79px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:3px;
  width:79px;
  height:4px;
}
#u141 {
  position:absolute;
  left:430px;
  top:18px;
  width:57px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:527px;
  top:18px;
  width:43px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:610px;
  top:18px;
  width:57px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:120px;
  top:97px;
  width:120px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
