<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztravel.order.po.MaterialContactorMapper" >
  
  <resultMap id="BaseResultMap" type="com.ztravel.order.po.MaterialContactor" >
      <result column="contactor" property="contactor" jdbcType="VARCHAR" />
      <result column="order_id" property="orderId" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
      contactor, order_id, phone, email, province, city, county, address
    </sql>
    
    <insert id="insert" parameterType="com.ztravel.order.po.MaterialContactor" >
      insert into ztorder.t_order_material_contactor
      <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="contactor != null" >
        contactor,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
    </insert>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from ztorder.t_order_material_contactor
	    where order_id = #{orderId,jdbcType=VARCHAR}
	  </select>
	  
	   <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.util.Map" >
	    select 
	    <include refid="Base_Column_List" />
	    from ztorder.t_order_material_contactor
	    where order_id = #{orderId,jdbcType=VARCHAR}
	  </select>
  
  <update id="update" parameterType="com.ztravel.order.po.MaterialContactor" >
    update ztorder.t_order_material_contactor
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>


</mapper>