<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztravel.common.areasearch.entity.ProvCityAreaMapper" >

	<resultMap id="BaseResultMap" type="com.ztravel.common.areasearch.entity.ProvCityArea">
	    <id column="id"  property="id"  jdbcType="INTEGER"  />
	    <result column="no"  property="no"  jdbcType="VARCHAR"  />
	    <result column="areaname"  property="areaName"  jdbcType="VARCHAR"  />
	    <result column="topno"  property="topNo"  jdbcType="VARCHAR"  />
	    <result column="arealevel"  property="areaLevel"  jdbcType="VARCHAR"  />
<!-- 	    <result column="areacode"  property="areaCode"  jdbcType="VARCHAR"  />
	    <result column="typename"  property="typeName"  jdbcType="VARCHAR"  /> -->
    </resultMap>

    <sql id="Column_List">
        id, no, areaname, arealevel, topno
    </sql>

    <select id="select" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Column_List" />
        from common.t_prov_city_area
        <where>
            <if test="areaLevel != null and areaLevel != ''">
                arealevel = #{areaLevel}
            </if>
            <if test="topNo != null and topNo != ''">
                and topno = #{topNo}
            </if>
        </where>
        <if test="areaLevel != null and areaLevel == '1'.toString() ">
        order by convert_to(typename, 'gbk') desc ,convert_to(areaname, 'gbk')
        </if>
    </select>

    <select id="selectByNameAndLevel" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Column_List" />
        from common.t_prov_city_area
        <where>
            <if test="areaLevel != null and areaLevel != ''">
                arealevel = #{areaLevel}
            </if>
            <if test="parentAreaName != null">
            and topno = (
			            	SELECT no from common.t_prov_city_area
			            	<where>
			            	areaname = #{parentAreaName}
			            	<if test="parentAreaLevel != null">
			            	and arealevel = #{parentAreaLevel}
			            	</if>
			            	</where>
			            )
            </if>
        </where>
        <if test="areaLevel != null and areaLevel == '1'.toString() ">
        order by convert_to(typename, 'gbk') desc ,convert_to(areaname, 'gbk')
        </if>
    </select>

</mapper>