<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztravel.order.po.OrderComContactorMapper" >
  <resultMap id="BaseResultMap" type="com.ztravel.order.po.OrderComContactor" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="contactor" property="contactor" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="com.ztravel.order.po.OrderComContactor" >
    insert into ztorder.t_order_com_contactor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="contactor != null" >
        contactor,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <sql id="Base_Column_List" >
    id, member_id, contactor, phone, email, province, city, county, address
  </sql>

 <select id="selectByMemberId" resultMap="BaseResultMap" parameterType="java.util.Map" >
  select
    <include refid="Base_Column_List" />
    from ztorder.t_order_com_contactor
    where member_id = #{memberId,jdbcType=VARCHAR}
 </select>
 
  <select id="selectByMemberIds" resultMap="BaseResultMap" parameterType="java.util.Map" >
  select
    <include refid="Base_Column_List" />
    from ztorder.t_order_com_contactor
    where member_id = #{memberId,jdbcType=VARCHAR}
 </select>
  
  <select id="selectByMemberIdAndName" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  select
	    <include refid="Base_Column_List" />
	    from ztorder.t_order_com_contactor
	    where 
	    	member_id = #{memberId,jdbcType=VARCHAR} 
	    AND
	    	contactor = #{contactorName,jdbcType=VARCHAR}
  </select>

  <update id="update" parameterType="com.ztravel.order.po.OrderComContactor" >
    update ztorder.t_order_com_contactor
    <set>
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
   </set>
   where id = #{id,jdbcType=VARCHAR}
  </update>


</mapper>