<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztravel.rbac.entity.RoleMapper" >
<resultMap id="BaseResultMap" type="com.ztravel.rbac.entity.Role" >
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createdby" property="createdby" jdbcType="VARCHAR" />
    <result column="updatedby" property="updatedby" jdbcType="VARCHAR" />
    <result column="update_time" property="updated" jdbcType="TIMESTAMP" />
    <result column="create_time" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List">
	    role_id, role_name, description, createdby, updatedby, update_time, create_time
	</sql>

	<delete id="deleteById" parameterType="String">
    DELETE FROM rbac.t_role WHERE role_id = #{roleId,jdbcType=VARCHAR}
</delete>

    <select id="selectByRoleName" resultMap="BaseResultMap" parameterType="map">
                SELECT * FROM rbac.t_role
                WHERE role_name= #{roleName,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="map">
                SELECT rbac.t_role.* FROM rbac.t_role, rbac.t_user_role
            <where>
            rbac.t_role.role_id = rbac.t_user_role.role_id
            <if test="userId != null">
                and rbac.t_user_role.user_id = #{userId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
		SELECT * FROM rbac.t_role
	</select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="string">
		SELECT * FROM rbac.t_role
        WHERE role_id= #{roleId,jdbcType=VARCHAR}
	</select>

        <select id="selectByPage" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from rbac.t_role
        <if test="offset != null and offset != '0'">
            offset #{offset}
        </if>
        <if test="limit != null and limit != ''">
            limit #{limit}
        </if>
    </select>

    <select id="countAll" resultType="Integer">
		select count(role_id) from rbac.t_role
	</select>

		<update id="update" parameterType="com.ztravel.rbac.entity.Role">
		update rbac.t_role set
      	<if test="roleName != null and roleName != '' ">
        	role_name = #{roleName,jdbcType=VARCHAR},
      	</if>
      	<if test="description != null and description != '' ">
       		description = #{description,jdbcType=VARCHAR},
      	</if>
        	updatedby = #{updatedby,jdbcType=VARCHAR},
        	update_time = #{updated,jdbcType=VARCHAR}
	    where role_id=#{roleId,jdbcType=VARCHAR}
	</update>

    <insert id="insert" parameterType="com.ztravel.rbac.entity.Role">
		insert into rbac.t_role
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="roleId != null">
	        role_id,
	      </if>
	      <if test="roleName != null">
	        role_name,
	      </if>
	      <if test="description != null">
	        description,
	      </if>
	      <if test="createdby != null">
	        createdby,
	      </if>
	      <if test="updatedby != null">
	        updatedby,
	      </if>
	      <if test="updated != null">
	        update_time,
	      </if>
	      <if test="created != null">
	        create_time,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="roleId != null">
	        #{roleId,jdbcType=VARCHAR},
	      </if>
	      <if test="roleName != null">
	        #{roleName,jdbcType=VARCHAR},
	      </if>
	      <if test="description != null">
	        #{description,jdbcType=VARCHAR},
	      </if>
	      <if test="createdby != null">
	        #{createdby,jdbcType=VARCHAR},
	      </if>
	      <if test="updatedby != null">
	        #{updatedby,jdbcType=VARCHAR},
	      </if>
	      <if test="updated != null">
	        #{updated,jdbcType=TIMESTAMP},
	      </if>
	      <if test="created != null">
	        #{created,jdbcType=TIMESTAMP},
	      </if>
	    </trim>
	</insert>

</mapper>