body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-28px;
  width:1366px;
  height:838px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:838px;
}
#u1 {
  position:absolute;
  left:2px;
  top:411px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:154px;
  top:299px;
  width:112px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:49px;
  width:1120px;
  height:41px;
}
#u6_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1126px;
  height:47px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:46px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:320px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:480px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:640px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:800px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:960px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:5px;
  width:45px;
  height:45px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1118px;
  top:49px;
  width:248px;
  height:41px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1311px;
  top:17px;
  width:90px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FF6600;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1264px;
  top:13px;
  width:36px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1095px;
  top:20px;
  width:68px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:13px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1171px;
  top:19px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:13px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1232px;
  top:19px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:13px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
